header{
    background-color: #10529E;
    height: 100%;
    position: fixed;
    width: 250px;
  background-color: #10529E;
  height: 100%;
  position: fixed;
  width: 260px;
  }
  body,html{
    margin:0;
    padding:0;
    background-color: #F2F5F7;
  }
#tituloc{
  color: white;
}
#titulop{
  margin-left: 261px;
}
div{
  padding: 2px; 
}
#tabela01{
  margin-left: 261px;
  border-radius: 4px;
}
#tabela02{
  border-radius: 4px;
}
#pagfull{
  display: flex;
}
fieldset{
    border-radius: 6px;
  }
  
body{
    background-color:  #F2F5F7;
}
#fieldset01{
  background-color: white;
  max-width: 1100px;
  }
#fieldset02{
  background-color:#FEF6D2 ;
}
  div{
    
   padding: 2px; 
  }
  #tabela01{
    background-color: #FFFFFF;
  }
  #tabela02{
    display: flex;
    background-color: #FEF6D2;
  }
  #pagfull{
    display: flex;
  }
  fieldset{
    border-radius: 4px;
  }