header{
    background-color: #10529E;
    height: 100%;
    position: fixed;
    width: 250px;
    text-align:start;
    line-height: 0px;
  }
  body,html{
    margin:0;
    padding:0;
    background-color: #F2F5F7;
    font-family:'Nunito Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1,5;
  }

#titulop{
  margin-left: 280px;
  font-size: 22px;
  margin-top: 25px;
}
body{
  background-color:  #F2F5F7;
}

#tituloc{
  color: white;
}
/* #titulop{
  margin-left: 270px;
} */
#pagfull{
  margin-left: 265px;
  display: flex;
}
.tabela{
  border-radius: 8px;
  flex-grow: 1;
}
fieldset{
  border-radius: 8px;
  margin: 15px;
}
#fieldset01{
  background-color: white;
  border: 1px solid #E4E5E9;
  }
#fieldset02{
  margin-left: 10px;
  background-color:#FEF6D2 ;
  border: 1px solid #FBDF6B;
}
  .atualizações{
    margin-top: 3px;
    border: 1px solid rgb(216, 215, 215);
  }
  img{
    margin-top: 20px;
    margin-left: 30px;
    max-width: 200px;
  }
  header img{
    margin-bottom: 17px;
  }
.titulos_das_tabelas{
  color: #10529E;
  font-size: 16px;
}
  .icones-do-menu img{
    max-width: 24px;
  }
  .titulo-icones{
    color: #FFF;
  }
  .login{
    text-align:end;
    margin-top: 0px;
  }
.Titulo-login{
  display: flex;
  justify-content:space-between;
  margin-right: 40px;
  max-height: 80px;
}
.login-img{
  max-width: 37px;
  margin-top: 10px;
}
.titulo-tabela02{
  text-transform:uppercase;
  font-size: 18px;
}
#Titulo-tabela-1{
  font-size:20px;
  color: black;
  margin-left: 15px;
}
hr{
  border-color:#E4E5E9;
  border-style: solid;
  width: 100%;
}
#hr-sidebar{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 25px;
  margin-bottom: 15px;
  border-color: rgba(255, 254, 254, 0.185);
  border-style: solid;
}
.botao{
  overflow: hidden;
  background-color:#10529E;
  margin-left: 0px;
}
.botao a{
  float:none;
  display: block;
  color: white;
  text-decoration:none;
  border-radius: 6;
  margin-left: 30px;
  margin-right: 0px;
  padding-left: 30px;
  padding-top: 14px;
  padding-bottom: 14px;
}
#inicio{
  background-color: #FFF;
  color: #10529E;
  border-radius: 6px 0px 0px 6px ;
}
.botao a:hover{
  background-color: #F2F5F7;
  color: #10529E;
  border-radius: 6px 0px 0px 6px ;
  margin-left: 30px;
  margin-right: 0px;
  padding-left: 30px;
  padding-top: 14px;
  padding-bottom: 14px;
}
.sidebar{
  display: none;
}
i{
  font-size: 20px ;
}
 @media (max-width:1000px){
  #pagfull{
    flex-wrap: wrap;
  }
  .login{
    display: none;
  }
  #titulop{
    font-size: 20px;
  }
  #Titulo-tabela-1{
    font-size: 18px;
    margin-left: 15px;
  }
  .titulos_das_tabelas{
    font-size: 16px;
  }
  .sidebar{
    display: none;
  }
  .titulo-tabela02{
    font-size: 16px;
} 
@media (max-width:760px){
  #pagfull{
    flex-wrap: wrap;
    margin-left: 5px;
    margin-top: 80px;
    
  }
  header{
    height: 100px;
    position: fixed;
    width: 100%;
  }

  .icones-do-menu img{
    display:flex;
  }
  .titulo-icones{
    display: none;
  }
  .botao{
    display: none;
  }
  
  #titulop{
    margin-left: 25px;
    margin-top: 120px;
    font-size: 20px;
  }
  #Titulo-tabela-1{
    font-size: 16px;
    margin-left: 15px;
  }
  .titulo-tabela02{
    font-size: 14px;
} 
  .titulos_das_tabelas{
    font-size: 14px;
  }
  hr{
    display: none;
  }
  .login img{
    margin-top: 110px;
  }
  .dropdown-item{

  }