header{
    background-color: #10529E;
    height: 100%;
    position: fixed;
    width: 260px;
    text-align:start;
    line-height: 0px;
  }
  body,html{
    margin:0;
    padding:0;
    background-color: #F2F5F7;
    font-family:'Nunito Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1,5;
  }

#titulop{
  margin-left: 265px;
}
body{
  background-color:  #F2F5F7;
}

#tituloc{
  color: white;
}
/* #titulop{
  margin-left: 270px;
} */
div{
  padding: 2px;
}
#pagfull{
  margin-left: 265px;
  display: flex;
}
.tabela{
 /* margin-left: 270px;*/
  border-radius: 4px;
}
.tabela{
  border-radius: 8px;
  flex-grow: 1;
  justify-content: space-between;
}

fieldset{
    border-radius: 8px;
  }
  

#fieldset01{
  background-color: white;
  border: 1px solid #E4E5E9;
  border-radius: 8px;
  }
#fieldset02{
  background-color:#FEF6D2 ;
  border: 1px solid #FBDF6B;
  border-radius: 8px;
  justify-content: spac-around
}
  div{
   padding: 2px; 
  }


  .tabela{
    background-color: #FFFFFF;
    margin-bottom: 70px;
    width: 100%;
  }
  .tabela{
    /* display: flex; */
    background-color: #FEF6D2;
    margin-bottom: 70px;
    
  }
  
  fieldset{
    border-radius: 8px;
  }
  .atualizações{
    margin-top: 3px;
    border: 1px solid rgb(216, 215, 215);
  }
  img{
    margin-top: 20px;
    margin-left: 30px;
    max-width: 200px;
  }
.titulos_das_tabelas{
  color: #10529E;
}
  .icones-do-menu img{
    max-width: 24px;
  }
  .titulo-icones{
    color: #FFF;
  }
  .login{
    text-align:end;
  }
.Titulo-login{
  display: flex;
  justify-content:space-between;
  margin-right: 30px;
}
.login img{
  max-width: 32px;
}
.titulo-tabela02{
  text-transform:uppercase
}
hr{
  margin-left: 20px;
  margin-right: 20px;
}

 @media (max-width:1000px){
  #pagfull{
    flex-wrap: wrap;
  }
  .login{
    display: none;
  }
} 
@media (max-width:430px){
  #pagfull{
    flex-wrap: wrap;
    
  }
  header{
    height: 100px;
    position: fixed;
    width: 100%;
  }
  .icones-do-menu img{
    display: none;
  }
  .titulo-icones{
    display: none;
  }
  #pagfull{
    margin-left: 0px;
  }
  #titulop{
    margin-left: 0px;
    margin-top: 110px;
    font-size: 16px;
  }
  header img {
    margin-left: 90px;
  }
  hr{
    display: none;
  }
  .login img{
    margin-top: 110px;
  }
  }
